-
    var menu = {
    "home": {
    index: 0,
    title: 'Home',
    link: 'index.html'
    },

    "insurance": {
    index: 1,
    title: 'Insurance Services',
    link: '#',
    megamenu: [
    [{
    title: 'Corporates / SME',
    link: '#',
    list: [{
    title: 'Engineering & Construction',
    link: 'engineering.html'
    }, {
    title: 'Liabilities & Financial Lines',
    link: 'liabilities.html'
    }, {
    title: 'Life & Personal Accident',
    link: 'life-personal.html'
    }, {
    title: 'Marine, Cargo, Aviation',
    link: 'marine-cargo-aviation.html'
    }, {
    title: 'Property & Energy',
    link: 'property-energy.html'
    },

    {
    title: 'Group Medical Insurance',
    link: 'medical.html'
    }, {
    title: 'Employee Benefits Insurance',
    link: 'employee-benefits.html'
    },
    {
    title: 'Motor Fleet Insurance',
    link: 'motor-fleet.html'
    }
    ]
    }],
    [{
    title: "Individual Insurance",
    list: [{
    title: 'Life & Critical Illness',
    link: 'life-insurance.html'
    },
    {
    title: 'Savings & Investment',
    link: 'savings.html'
    },
    {
    title: 'Child Education / Marriage Plans',
    link: 'child.html'
    },
    {
    title: 'Retirement Plans',
    link: 'retirement.html'
    },
    {
    title: 'Medical Insurance',
    link: 'group-medical.html'
    }, {
    title: 'Home Insurance',
    link: 'home-insurance.html'
    }, {
    title: 'Travel Insurance',
    link: 'travel.html'
    },
    {
    title: 'Motor Insurance',
    link: 'motor.html'
    }]
    }]
    ]
    },
    "claims": {
    index: 2,
    title: 'Claims',
    link: '#',
    dropdown: [{
    title: 'Claims Overview',
    link: 'claims-overview.html'
    },
    {
    title: 'Claims Process',
    link: 'claims-process.html'
    },
    {
    title: 'Service Center',
    link: 'about-us.html'
    }

    ]
    },

    "about-us": {
    index: 3,
    title: 'About Us',
    link: '#',
    dropdown: [{
    title: 'Our Company',
    link: 'about-us.html'
    }, {
    title: 'News and Events',
    link: 'news-events.html'
    }, {
    title: 'Blogs',
    link: 'blogs.html'
    }, {
    title: 'FAQs',
    link: 'faqs.html'
    }]
    },

    "careers": {
    index: 4,
    title: 'Careers',
    link: '#',
    dropdown: [{
    title: 'Jobs Overview',
    link: 'jobs-overview.html'
    }, {
    title: 'Hiring Process',
    link: 'hiring-process.html'
    },
    {
        title:'Working at Global Insurance',
        link: 'working-global-insurance.html'
    }
    ]
    },

    "contact-us": {
    index: 6,
    title: 'Contact Us',
    link: 'contacts-us.html'
    }

    },

    globals = {
    getTemplateLink: '#',
    address: '17/11 MassiveAttack Street Bristol, United Kingdom',
    soundcloud: '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>',
    video: '<iframe width="560" height="315" src="https://www.youtube.com/embed/KbbLpTp1rNQ"></iframe>'
    }