//- Header base transparent
header.page-head
  .divider-primary
  .page-head-inner
    .shell.text-center
      //- RD Navbar Brand
      a.brand.brand-md.brand-inverse(href='index.html')
        img(src="images/brand-footer.png", width="206", height="100", alt="")

