extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-1
include ../elements/_ui-quote-vertical
include ../elements/_ui-icon-box-our-values
include ../elements/_ui-thumbnail-1
include ../elements/_ui-thumbnail-management

block variables
  - var activeIndex = 1
  - var pageName = 'About Us'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default



  +page-title(pageName, 'bg-image-5')

  section.section-66.font-default
    .shell
      .range
        .cell-xs-12
          h3 About Global Insurance Brokers

      .range.range-lg-justify.offset-top-30
        .cell-xs-12
          p
            | Global Insurance Brokers Company LLC (GLOBAL) is currently operational in UAE as an Insurance Broker duly licensed by the UAE
            | Insurance Authority with Registration No. (31), to provide insurance broking and consultancy services in UAE.
            | Global Insurance began operations in the year 1989, and was one of the first corporate Insurance brokerage houses in UAE.
          p
            |  Global provides services across the insurance spectrum, including risk management, insurance broking, to local & multinational companies
            | operating in all sectors of the economy. Global is in the list of first ten existing brokers in the country, and is a growing company dedicated in
            | achieving superior results to the satisfaction of our clients.
          p
            |  We commit ourselves to ensure that Global’s expertise and knowledge of business forms a unique partnership that guarantees the
            | procurement of tailor-made insurance security for clients at the most competitive prices the market can offer.

  ='\n'

    section.bg-whisper.section-66
      .shell
        .range
          .cell-xs-12
            h3 Who are we as Insurance Brokers

        .range.range-lg-justify.offset-top-30
          .cell-xs-12
            p
             |  Global Insurance is a multidimensional insurance broking company with worldwide capabilities committed to being a broker of first choice for clients who demand the best in quality service and professional expertise
             | We are dedicated insurance professionals who act as intermediary of our clients and in their best interest
            p
             | Primarily we help our clients to identify their insurance needs, and buy the needed insurance on behalf of our clients at most favorable terms and price
             | We assist and support our clients in processing & negotiating their claims
    ='\n'

  //- Why Choose Us
  section.section-60.bg-athens-gray.bg-image.bg-image-sm-hide(style='background-image: url(images/about-1.jpg);')
    .shell
      .range.range-sm-right
        .cell-sm-8.cell-md-7.cell-lg-5
          .inset-sm-left
            h3.text-spacing--25 Our Values
            p.cell-sm-8.cell-md-7.cell-lg-5 Global Insurance Brokers stands strong by adhering to our foundation of values and will be used in the everyday business practices of the organization.
          .inset-sm-left.offset-top-20
            ul.list-xl
              li
                +icon-box-left({
                    icon: ['icon-md', 'material-design-check51'],
                    header: 'Relationships',
                    text: 'We value all our people policyholders, directors, employees, agents and all our business partners  They are the strength of our organization.',
                    text1: 'We value the respect we have for each other.',
                    text2: 'We value fair and flexible business and employment practices.',
                    text3: 'We value social interaction with all our people.'
                })

              li
                +icon-box-left({
                    icon: ['icon-md', 'material-icons-group'],
                    header: 'Teamwork',
                    text: 'We value the concept of “all under one roof”.',
                    text1: 'We value working together for common goals.'
                })

              li
                +icon-box-left({
                    icon: ['icon-md', 'material-icons-group_work'],
                    header: 'Integrity',
                    text: 'We value integrity in all our business dealings.',
                    text1: 'We value accountability as an organization and individually.',
                    text2: 'We value our strong historic roots in our industry and community.',
                    text3: 'We value consistency in our approach to decisions.'
                })

              li
                +icon-box-left({
                    icon: ['icon-md', 'material-icons-thumb_up'],
                    header: 'Enthusiasm',
                    text: 'We value being selfmotivated.',
                    text1: 'We value positive energy.'
                })

              li
                +icon-box-left({
                    icon: ['icon-md', 'material-icons-voice_chat'],
                    header: 'Communication',
                    text: 'We value open communications.',
                    text1: 'We value listening to others.',
                    text2: 'We value sharing our knowledge and continuing education.'
                })

              li
                +icon-box-left({
                    icon: ['icon-md', 'material-design-briefcase50'],
                    header: 'Stewardship',
                    text: 'We value the importance of long-term financial stability.',
                    text1: 'We value the sound management of the assets of the organization.',
                    text2: 'We value being community minded.',
                    text3: 'We value being environmentally conscious.'
                })

  ='\n'

  //- Counters
  section.section-60.section-sm-100.bg-gray-dark.bg-image(style='background-image: url(images/bg-image-6.jpg);')
    .shell

      h3.text-center Fundamental Principles
      .range.offset-top-45

        .cell-xs-6.cell-sm-3
          .box-counter.box-counter-inverse.box-counter-white
            img(src="images/icon-04.png", width="53", height="50", alt="")
            //- CountTo
          // .text-large.counter.offset-top-15 1450
          h5.box-header Our Clients always come first.

        .cell-xs-6.cell-sm-3
          .box-counter.box-counter-inverse.box-counter-white
            img(src="images/icon-01.png", width="52", height="53", alt="")
            //- CountTo
            //.text-large.counter.offset-top-15 23
            h5.box-header We must provide the highest level of service with integrity.

        .cell-xs-6.cell-sm-3
          .box-counter.box-counter-inverse.box-counter-white
            img(src="images/icon-02.png", width="52", height="53", alt="")
            //- CountTo
            //.text-large.counter 10
            h5.box-header Ensuring client satisfaction through the provision of quality service.

        .cell-xs-6.cell-sm-3
          .box-counter.box-counter-inverse.box-counter-white
            img(src="images/icon-03.png", width="52", height="53", alt="")
            //- CountTo
            //.text-large.counter 10
            h5.box-header Innovation is requisite for our survival in a changing world.
  ='\n'

  section.section-66.section-sm-bottom-90.bg-whisper
    .shell

      .range
        .cell-xs-12
          h3.text-center Our Management

        .cell-md-2.offset-top-40.offset-sm-top-0

        .cell-xs-12.cell-sm-6.cell-md-3.offset-top-40
          +thumbnail-management({
              img: 'pic-1-189x189',
              header: "Mr. Faisal Abdulwahab",
              caption: "Founder & Chairman"
          })

          p.text-center
            | Mr. Faisal a business management graduate from Alain University, 1982 batch is a senior banking professional with more than 30 years of experience in handling several wealth management assignments and banking
            | operations across UAE. After successful completion of his service as Manager Operations (CENTRAL BANK, UAE), he retired in the year 2016. His vision for GLOBAL is to be one of the most trusted and preferred Insurance
            | Broker of UAE.

        .cell-md-2.offset-top-40.offset-sm-top-0

        .cell-xs-12.cell-sm-6.cell-md-3.offset-top-40
          +thumbnail-management({
              img: 'pic-2-189x189',
              header: "Mr. Bahuleyan Kesavan",
              caption: "Founder & Managing Director"
          })

          p.text-center
            | Mr. Bahuleyan, a first generation entrepreneur started his career in UAE in the year 1970, he has more than 40 years of diverse experience in managing businesses, sales and people across various
            | consumer segments in India and UAE. He has been in the advisory board of reputed schools and was also the executive member of several associations and cultural organizations in UAE.
            | He is the visionary behind Global Insurance Brokers.

        .cell-md-2.offset-top-40.offset-sm-top-0

    ='\n'


  section.section-66
    .shell
      .range
        .cell-xs-12
          h3 Our Vision & Mission

      .range.range-lg-justify.offset-top-30
        .cell-xs-12
          p
            | Our vision is to be the leading and most trusted Insurance & Investment distributor, offering world class, customized and professional brokerage insurance services,
            | driven by passionate people, committed to the future financial security and success of our clients and to emerge as a total service provider in the financial market with thrust
            | in providing quality services and transparency as core values.
          p
            | Global Insurance Brokers is committed to the principles of service, integrity and professionalism while providing financial protection and peace of mind for our valued
            | clients by offering quality advice and insurance products through independent certified advisors. In all we do, we are dedicated to exceeding their expectations.
  ='\n'


    section.bg-whisper.section-66
        .shell
            .range
                .cell-xs-12
                    h3 Why you should engage Global Insurance Brokers ?

            .range.range-lg-justify.offset-top-30
                .cell-xs-12
                    p
                        | Global is best at rendering quality services and is one of the first insurance brokers in UAE. Global has successfully established itself as a committed, knowledge driven and customer focused entity in Insurance service industry. At Global we would enable YOU to
                        | concentrate on your core business whilst we leverage our professional expertise and knowledge of the insurance market to ensure
                        | that the right decisions are made in purchasing appropriate insurance security on most favorable terms and at the most competitive price.
    ='\n'


    section.section-66
        .shell
            .range
                .cell-xs-12
                    h3 Would Global Insurance Brokers add to client's insurance cost ?

            .range.range-lg-justify.offset-top-30
                .cell-xs-12
                    p
                        | The answer is NO. On the contrary the services of Global can help in reducing cost, and ensure value for money. For the traditional services of an insurance broker,
                        | the remuneration of the broker is by way of a commission from the insurance company in accordance with world wide practice and tradition. The premium rate invariably
                        | includes an acquisition and servicing cost which the insured pays to an insurance company regardless of whether the insured goes directly to the insurance company or
                        | not. It is this acquisition and servicing cost that the insurance company passes to the broker by way of a commission.
                    p
                        | Therefore, the insurance broking services of Global would be entirely at no cost to the client.
    ='\n'

  //include ../sections/_section-testimonials-vertical-dark-small


  //- Page Footer
  include ../sections/_section-footer-default