extends  ../_skeleton

//- Includes
include ../elements/_ui-icon-box-vertical
include ../elements/_ui-icon-box-horizontal
include ../elements/_ui-thumbnail-1
include ../elements/_ui-thumbnail-2
include ../elements/_ui-thumbnail-3
include ../elements/_ui-link-image
include ../elements/_ui-quote-minimal


block variables
  - var activeIndex = 0
  - var footerLink = true

block title
  title Home

block page
  //- Page Header
  include ../sections/_section-header-default
  //- include ../sections/_section-slider

  section.section-60.bg-athens-gray.bg-image.bg-image-md-hide(style='background-image: url(images/home-bg-image-circle.jpg);')
        .range.range-md-right
            .cell-sm-12.cell-md-9.cell-lg-7
                .all_service_tab_title_box
                    h5 Select a Product to Quote
                .all_service_tab
                    a.circleTab.v3term(onclick="", href='life-insurance.html')
                        span
                            p Life & Critical Illness
                    a.circleTab.v3investment(onclick="", href='#')
                        span Savings & Investment
                    a.circleTab.v3retirement(onclick="", href='#')
                        span Retirement
                    a.circleTab.v3child(onclick="", href='#')
                        span
                            p Child Education
            .cell-sm-12.cell-md-9.cell-lg-7
                .all_service_tab_title_box
                    h5 Get Instant Quote
                .all_service_tab
                    a.circleTab.v3health(onclick="", href='#')
                        span Health
                    a.circleTab.v3car(onclick="", href='#')
                        span Motor
                    a.circleTab.v3home(onclick="", href='#')
                        span Home
                    a.circleTab.v3travel(onclick="", href='#')
                        span Travel


  //- Get Insurance Almost anyting you need
  section.section-50.section-sm-90.section-sm-bottom-100
    .shell.text-center
      h2
        span.sub-head-small Get insurance for almost anything you need
      .range.range-xs-center.offset-top-35
        .cell-xs-8.cell-sm-5.cell-lg-2-4
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-motor-fleet-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Motor Fleet
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-group-medical-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Group Medical
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-group-life-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Group Life & Personal Accident
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-workmen-compensation-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Workmen Compensation & Employers Liability
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-other-emp-benefits-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Other Employee Benefits Insurance
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

      .range.range-xs-center.offset-top-35
        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-group-travel-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Group Travel
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-engineering-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Engineering & Construction
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-finance-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Liabilities & Financial Lines
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-marine-cargo-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Marine, Cargo & Aviation
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details

        .cell-xs-8.cell-sm-5.cell-lg-2-4.offset-top-40.offset-sm-top-0
          //- Post Boxed
          .ins-post-boxed.reveal-lg-inline-block
            .post-boxed-img-wrap
              a(href='blog-post.html')
                img(src='images/ins-box-property-268x182.png', alt='', width='228', height='182')
            .ins-post-boxed-caption
              .ins-post-boxed-title.text-bold Property & Energy
              .ins-post-boxed-content By comparing plans with us you can save a large amount of money every year.
              a.text-primary(href='#')
                .btn.btn-primary.ins-btn-rect More Details


  //- Our Partners
  section.section-30.bg-whisper-1
    .shell.text-center
      h2
        span.sub-head-small Our Partners
      .range
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-01-Takaful-209x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-02-national-381x92'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-03-al-saga-245x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-04-al-ittihad-332x100'})

      .range
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-05-new-india-238x80'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-06-orient-319x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-07-ngi-261x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-08-oriental-260x100'})
      .range
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-09-rak-375x88'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-10-dar-al-277x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-11-union-195x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-12-dubai-national-201x100'})
      .range
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-13-zurichx158x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-14-adnic-243x90'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-15-adamjee-156x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-16-buhaira-national-248x90'})
      .range
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-17-alliance-125x100'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-18-arabia-265x90'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-19-arabian-147x90'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-20-dubai-insurance-201x100'})

      .range
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-21-generali-353x91'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-22-metlife-365x63'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-23-noor-229x90'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-24-qatar-193x90'})
      .range
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-25-salama-192x90'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-26-sharjah-365x90'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-27-united-insurance-175x90'})
        .cell-xs-6.cell-md-3
          +link-image({img: 'client-28-watania-340x72'})



  //- RD Parallax - Testimonial
  section.rd-parallax.bg-gray-base.bg-image(data-on='false', data-md-on='true', style='background-image: url(images/clients-testimonials-parallax-1.jpg)')
    .rd-parallax-layer(data-speed='0.15', data-type='media', data-url='images/clients-testimonials-parallax-1.jpg')
    .rd-parallax-layer(data-speed='0', data-type='html')
      .section-60.section-sm-90
        .shell.text-center
          .range.range-md-center
            .cell-xs-12
              h2
                span.sub-head-small Testimonials
            .cell-md-11.cell-lg-9.offset-top-40
              //- Owl Carousel
              .owl-carousel-inverse
                .owl-carousel.owl-nav-position-numbering(data-items='1', data-stage-padding='0', data-loop='false', data-margin='30', data-nav='true', data-numbering='#owl-numbering-1', data-animation-in='fadeIn', data-animation-out='fadeOut')
                  .item
                    +quote-minimal({
                      mod: "quote-minimal-inverse",
                      text: "I love working with everyone here. Our underwriters have been fantastic and are so willing to help and figure out solutions if there are problems. I love that if my underwriter doesn’t know the answer to a question nothing is made up—she finds the answer. ",
                      cite: "Olga Kochutkova",
                      caption: "Freelancer"
                    })

                  .item
                    +quote-minimal({
                      mod: "quote-minimal-inverse",
                      text: "My wife and I want to express our thanks and gratitude for your work on our claim. The claim was handled with great care and sensitivity. Your agent deserves a commendation for your great team work. It made a terrible time in our lives go smoothly and quickly. ",
                      cite: "Mark Wilson",
                      caption: "Freelancer"
                    })

                  .item
                    +quote-minimal({
                      mod: "quote-minimal-inverse",
                      text: "I wanted to take a moment and tell you what a fantastic employee you have. She treated me with the up most professionalism and was a calming voice that alleviated my stress during a stressful situation. She is an absolute pleasure to work with.",
                      cite: "Alan Smith",
                      caption: "Freelancer"
                    })
                #owl-numbering-1.owl-numbering.owl-numbering-default
                  .numbering-current
                  .numbering-separator
                  .numbering-count






  //- Page Footer
  include ../sections/_section-footer-default