extends  ../_skeleton

//- Includes
include  ../elements/_ui-insurance-content-gfsme.jade

block variables
    - var activeIndex = 1
    - var pageName = 'Liabilities & Financial Lines'

block title
    title=pageName

block page
    //- Page Header
    include ../sections/_section-header-default



    +page-title(pageName, 'bg-financial')

    //- Vertical Tabs
    section.section-sm-15
        .shell
            p
                h4.text-center We offer following Insurance policies under
                h3.text-center Liabilities & Financial Lines
            .range.range-sm-center.section-15
                .cell-lg-push-12
                    //- Bootstrap tabs
                    #tabs-2.tabs-custom.tabs-vertical.tabs-corporate
                        //- Nav tabs
                        ul.nav.nav-tabs
                            li.active: a(href='#tabs-2-1' data-toggle='tab') Bankers Blanket Bond Insurance
                            li: a(href='#tabs-2-2' data-toggle='tab') Burglary Insurance
                            li: a(href='#tabs-2-3' data-toggle='tab') Credit Insurance
                            li: a(href='#tabs-2-4' data-toggle='tab') Commercial Crime Insurance
                            li: a(href='#tabs-2-5' data-toggle='tab') Commercial General Liability Insurance
                            li: a(href='#tabs-2-6' data-toggle='tab') Cyber Liability Insurance
                            li: a(href='#tabs-2-7' data-toggle='tab') Decennial Liability Insurance
                            li: a(href='#tabs-2-8' data-toggle='tab') Directors Officers Liability Insurance
                            li: a(href='#tabs-2-9' data-toggle='tab') Employment Practices Liability Insurance
                            li: a(href='#tabs-2-10' data-toggle='tab') Event Cancellation Insurance
                            li: a(href='#tabs-2-11' data-toggle='tab') Fidelity Guarantee insurance
                            li: a(href='#tabs-2-12' data-toggle='tab') Freight Forwarders Liability Insurance
                            li: a(href='#tabs-2-13' data-toggle='tab') Jewelers Block Insurance
                            li: a(href='#tabs-2-14' data-toggle='tab') Kidnap and Ransom Insurance
                            li: a(href='#tabs-2-15' data-toggle='tab') Medical Malpractice Insurance
                            li: a(href='#tabs-2-16' data-toggle='tab') Money Insurance
                            li: a(href='#tabs-2-17' data-toggle='tab') Product Liability Insurance
                            li: a(href='#tabs-2-18' data-toggle='tab') Professional Indemnity Insurance
                            li: a(href='#tabs-2-19' data-toggle='tab') Public Product Liability Insurance
                            li: a(href='#tabs-2-20' data-toggle='tab') Stockbrokers Crime &<br>Professional Liabilities Insurance
                            li: a(href='#tabs-2-21' data-toggle='tab') Workmen Compensation &<br>Employers Liability Insurance

                        //- Tab panes
                        .tab-content.text-secondary
                            div#tabs-2-1.tab-pane.fade.in.active
                                p
                                    img(src='images/' + 'insurance-bank_bond-306x200.jpg', alt='', width='100%', height='100%', class='section-sm-30')

                                p Our agency can provide you and your family with quality insurance for your personal, business and financial needs. Our knowledgeable agents can help your find affordable and reliable car insurance, home insurance, commercial insurance or life insurance. The staff truly believes, “It’s all about protecting you!” Our mission is to help protect people in our communities from the financial impact of lawsuits, fires, car accidents and other unexpected incidents. Our focus is to help our clients grow their assets.
                                p We believe in being local and we strive to improve the communities where we live and work. We offer an inclusive selection of products and client-focused service to go beyond meeting your needs and instead, exceeding your expectations! Our team of professionals is experienced and prepared to customize your policies to fit your situation and lifestyle.

                                //- Burglary Insurance
                            div#tabs-2-2.tab-pane.fade

                                +insurance-section( {
                                    id: 'ins-burglary',
                                    image: 'insurance-burglary-356x250.jpg',
                                    brief_descr: 'A burglary at your business premises results in consequential financial losses, large or small. This insurance covers damage to property, loss of stock/goods, as well as any cash or valuables kept in a locked safe. This will not only provide you with the most comprehensive cover, but will also advise you on how to prevent a burglary from happening in the first place through tailored risk assessment.As per the financial defenition Burglary Insurance is an insurance policy covering losses resulting from a burglary, which is the act of entering a building unlawfully with the intention of committing a crime, usually but not always theft. Burglary insurance for businesses is usually part of a larger policy. It ordinarily requires relatively high coinsurance, in the range of 40% to 80%.',
                                    covers: 'Burglary and/or Housebreaking Policy covers property contained in your premises, stocks/goods owned by you or held in trust and/or commission. It also covers cash, valuables, securities kept in a locked safe or cash box in locked steel cupboard on specific request.                 The policy covers the property against loss/damage by burglary/house breaking. It also covers damage to your premises caused by burglars during burglary or attempts at burglary. The Policy pays actual loss/damage to your insured property caused by burglary/house breaking subject to the limit of Sum Insured. If Sum Insured is not adequate, Policy pays only proportionate loss. There is also a provision in the Policy to cover bulk items on ‘first loss’ basis wherein a percentage of total stock stored can be taken as that exposed to the risk of burglary and housebreaking. The premium is charged on this percentage selected only.',
                                    extentions: 'The Policy can be extended on additional payment of premium to cover Riot, Strike, Malicious Damage and Theft. Further, policies can be issued on declaration basis and on floater basis for stocks.\n',
                                    exclusions:'The Policy will not pay for loss/damage',
                                    exlusions_list:[
                                                        "To goods held in trust/commission, jewelry, curios, title deeds, business books unless specifically insured.\n" ,
                                                        "Recoverable under Fire/Plate glass insurance policy\n" ,
                                                        "By abstraction from a safe using a key or duplicate key, unless it is obtained by violence or threat\n" ,
                                                        "Due to shop lifting, acts involving you/your family members/ your employees\n" ,
                                                        "Due to War perils, Riot & Strike (covered by payment of additional premium), Acts of God, Nuclear perils"
                                                     ],
                                    period: "Period of insurance means the period of time stated in the schedule that this policy is in force.",
                                    notes: 'The details furnished above are only a summary of product features and do not describe the entire terms, conditions and exclusions on the Policy. For further details or clarifications on the Policy contact Global Insurance Brokers Company LLC. We shall be pleased to furnish further details.'
                                } )

                            div#tabs-2-3.tab-pane.fade
                                p We believe in More Better, and we work each day to ensure that our culture is embodied in our actions. We believe that it is OK to expect more from ourselves each and every day, in each and every activity and action. Equally, we believe it is OK to expect more from others in their actions and interactions with us. By focusing on achieving success in each and every action and interaction, we believe we both win.
                                p You get a more responsive, creative, financially sound, insurer that takes the time to understand your opportunities. We get an engaged and knowledgeable distribution source for our business, one that trusts that we will work for our mutual success in everything that we do. You and your clients deserve it. More. Better.

                            div#tabs-2-4.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-5.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-6.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-7.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-8.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-9.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-10.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-11.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-12.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-13.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-14.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-15.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-16.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-17.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-18.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-19.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-20.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.

                            div#tabs-2-21.tab-pane.fade
                                p We underwrite specialty insurance products in more than 40 states in the U.S. We are licensed to underwrite property and casualty lines of insurance for both commercial and personal risks. While our heritage is in underwriting workers compensation insurance for specialty classes including construction and light industrial, and our focus is on writing casualty lines of insurance, we are licensed to write all property casualty lines of commercial and personal insurance.
                                p We underwrite specialty program business both in house and in conjunction with select program administrators and managing general agencies. We have unique capabilities to design a program for an independent retail agent and work with them as distribution partners in defined territories. We also look to partner with program administrators and managing general agencies that have unique specialty expertise in defined industry segments, and that want to share in the underwriting risk on the program. Our appetites range from $5 million to $25 million in annual premium.


    ='\n'


    //blank section
    section.section-sm-top-90

    //- Page Footer
    include ../sections/_section-footer-default