extends  ../_skeleton

block page

    section.section-bottom-15
                |<div align="center" class="videoUiWrapper thumbnail">
                |   <video id="vdHotPress" class="embed-responsive-item" width="100%" controls controlsList="nodownload" autoplay preload="auto" >
                |       <source src="videos/insurance-life_insurance.mp4" type="video/mp4">
                |    </video>
                | </div>